@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;   
}
nav {
    display: inline-flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 55px;
    padding-right:50px;
    padding-top: 25px;  
}

.imagem {
    height: 300px;
    width: 300px; 
    border-radius: 50%;
    border: 2px solid red;
    cursor: pointer;
    align-items: center;
    margin: 0 8px;
    margin-top: 25px;margin-left: 50px;
    display: flex;
    margin-right: -115px;
  
}

.texto h4{
    color: #000;
    margin-right:250px;
    color:red;  
}

.texto-2{
    color: #000;
    margin-right:280px;
    color:red;  
}
.texto-3 {
    color:red;
    margin-right: 370px;
}
.ajuste-1{
    margin-left:-200px;
    font-size: medium;
}

.btn-image {
    background-color:#65c7f5;
    color: #0f141c;
    border: none; 
    padding: 12px 30px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 10px; 
    transition: background-color 0.3s ease;
    margin-top: 40px;
    
}
.col-sm-6 p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
}
.portfolio {
    color: green;
    font-size: 40px;
    font-weight: 500;
    display: inline-flex;
}

li {
    color: black;
    list-style: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
}

a {
    display: flex;
    color: aliceblue;
}

.link-menu {
    text-decoration: none;
    color: #0f141c;   
}

.btn-menu {
    background-color:#65c7f5;
    color: #0f141c;
    border: none; 
    padding: 12px 30px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
    }

    .link-menu {
        text-decoration: none;
    }

      .sobre {
        background-color: #333;
        padding: 50px 0; 
        margin-top: -464px;
        color: beige;
    }
    .container-A{
        background-image:url(/img/flor-1.jpeg);
        width:100%;
        height:31vh; 
        color:whitesmoke;
    }

    .navbar {
        background-repeat: no-repeat;
    }

    header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
    }


    .mobile-menu-icon {
    display: none;
    }

    .mobile-menu {
    display: none;
   }

    .navbar {
    background-repeat: no-repeat;
   }

/* Estilos para dispositivos móveis (largura máxima de 767px) */
@media (max-width: 767px) {
    .navbar-brand {
        padding: 0;
    }

    .link-menu {
        display: block;
        padding: 10px;
    }

    .btn-menu {
        width: 100%;
    }
}

.masthead {
    height: 70vh;
    min-height: 300px;
    background-image: url('/img/high.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.bg-cover {
    background-size: cover !important;
}

body {
    min-height: 100vh;
}

























